{% extends "microb/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="columns">
	<div class="column" id="instances">
		<div v-for="instance in instances">
			<div class="card instance">
				<div class="card-content">
					 <div class="media-content">
					 	<div class="title">
					 		<i class="fa fa-server"></i>&nbsp;<span v-html="instance.domain"></span>
					 		<div style="display:inline-block;vertical-align:middle">
					 		<div class="tags has-addons">
								<span class="tag">Status</span>
								<div v-if="instance.status === 'down'">
									<span class="tag is-danger">Down</span>
								</div>
								<div v-else-if="instance.status === 'up'">
									<span class="tag is-success">Up</span>
								</div>
								<div v-else-if="instance.status === 'pinging'">
									<span class="tag is-infos">Pinging ...</span>
								</div>
								<div v-else>
									<span class="tag is-dark" v-html="instance.status"></span>
								</div>
							</div>
							</div>
					 	</div>
					 </div>
					 {% verbatim %}
					 <div class="subtitle is-upspace-05">
					 	<a href="http://{% instance.url %}"><span v-html="instance.url"></span></a>
					 </div>
					 {% endverbatim %}
					 <div class="content">
					 	
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}